<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmw.sept22buyout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="tmw.sept22buyout.Actions.Intro1Act"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="tmw.sept22buyout.Actions.Intro2Act"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="tmw.sept22buyout.Actions.DisplayLogAct"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="tmw.sept22buyout.Actions.EndGameAct"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="tmw.sept22buyout.MergerSellAct"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="tmw.sept22buyout.NewPlayerAct"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="tmw.sept22buyout.NewPlayerSellAct"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="tmw.sept22buyout.Actions.PlayGameAct"
            android:label="@string/app_name">
        </activity>

    </application>


</manifest>
